.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.col-sm {
  border: 5px solid rgb(82, 179, 179);
  height: 150px;
  width: 100%;
  margin: 20px;
  text-align: center;
  background-color: rgb(209, 177, 199);
  border-radius: 1em;
}
@media only screen and (max-width: 750px) {
  .row {
    flex-direction: column;
  }
}
